table {
    width: 80%;
    margin: 20px auto;
  }
  .example-container {
    height: 99%;
    overflow: auto;
  }

  

  /* Reset ul styles */
.sports{
  text-align: center;
  border-left: dashed;
  font-size: x-large;
  background-image: linear-gradient(45deg, #553c9a, #ee4b2b);;
  
}
header h1{
  text-align: center;
  border-left: dashed;
  font-size: x-large;
  background-image: linear-gradient(45deg, #c04c48, #28c042);
  font-size: 45.4px;
font-weight: 600;
/* background-image: linear-gradient(to left, #553c9a, #b393d3); */
color: transparent;
background-clip: text;
-webkit-background-clip: text;
}
.comp{
  height: 100%;
background-color:  #dddfc0;
}
body { font-family: sans-serif; }
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 20px;
  z-index: 5;
}
ul li {
  color: grey;
  background: white;
  padding: 14px 24px 10px;
  margin: 0px -6px 0 10px;
  position: relative;
  float: left;
  text-align: center;
  z-index: 1;
  height:7vh;
  width:45%
}
ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 70%;
  height: 100%;
  border-style: solid;
  border-color: #eee;
  border-width: 2px 0 2px 2px;
  border-radius: 8px 0 0 0;
  /* -webkit-transform: skewX(-20deg);
     -moz-transform: skewX(-20deg);
       -o-transform: skewX(-20deg);
          transform: skewX(-20deg); */
  background-color: inherit;
  z-index: -1;
}
ul li::after {
  content: '';
  display: block;
  position: absolute;
  top: 0; right: 0;
  width: 70%;
  height: 100%;
  border-style: solid;
  border-color: rgb(72, 228, 220);
  border-width: 2px 2px 2px 0;
  border-radius: 0 8px 0 0;
  /* -webkit-transform: skewX(20deg);
     -moz-transform: skewX(20deg);
       -o-transform: skewX(20deg);
          transform: skewX(20deg); */
  background-color: inherit;
  z-index: -1;
}
ul li.active {
  color: rgb(238, 80, 177);
  z-index: 10;
}
ul li.active::before,
ul li.active::after {
  background-color: rgb(217, 202, 218);
  border-bottom-color: rgb(207, 177, 212);
}
ul li:not([class='active']):hover::before,
ul li:not([class='active']):hover::after {
  background-color: #f3e7e7; 
}


.header{
  border-radius: 10px;
  background-color: bisque;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  text-align: center;
}
.crd1{
  background-image: linear-gradient(to right,rgb(235, 179, 213) ,rgb(247, 245, 246));
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.crd2{
  background-image: linear-gradient(to right,rgb(235, 179, 213) , rgb(247, 245, 246));
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: center;
}
/* .crd3{
  background-image: linear-gradient(to right,rgb(235, 179, 213) , rgb(247, 245, 246));
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
} */
a{
  text-decoration: none;
}
p{
  text-align: center;
}

.new{
  height: 50%;
  width: 50%;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
  height: 50%;
}
mat-form-field {
  margin-right: 12px;
}