<mat-icon style="transform: scale(2);" (click)="openBottomSheet()">info</mat-icon>

<div class="comp">
  <br>
<header><h1>FANTASY SPORTS</h1></header>
<br>
<br>
<ul>
    <li  (click)="add()" [ngClass]="{active: isSelected}">Upcoming</li>
    <li   (click)="add()"  [ngClass]="{active: isNotSelected}">My Games</li>
</ul>
<br><br><br>
<mat-divider></mat-divider>
<div *ngIf="isSelected">
    <!-- <div>NIFTY50</div>
    <div>NIFTY BANKS</div>
    <div>NIFTY AUTO</div>
    <div>NIFTY OIL</div> -->
    <mat-card class="crd1" *ngFor="let data of Names">
        <mat-card-header (click)="gotoGames()">
          <mat-card-title >{{data}}</mat-card-title>
        </mat-card-header>
    </mat-card>
    <!-- <mat-card class="crd1">
        <mat-card-header>
          <mat-card-title>NIFTY BANKS</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card class="crd1">
        <mat-card-header>
          <mat-card-title>NIFTY AUTO</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card class="crd2">
        <mat-card-header>
          <mat-card-title>NIFTY OIL</mat-card-title>
        </mat-card-header>
    </mat-card> -->
</div>

<div *ngIf="!isSelected">
    <!-- <div class ="header">
        <h1>MY GAMES</h1>
    </div> -->
    <div class="prnt-crd">
    <a>
    <mat-card class="crd1">
        <mat-card-header>
          <mat-card-title>Nifty 50 Mega Contest</mat-card-title>
          <mat-card-subtitle>10-01-2023</mat-card-subtitle>
        </mat-card-header>
    <p>upcoming</p>
    </mat-card></a>
    <br>
    <a >
      <mat-card class="crd1" (click)="leaderboard()" >
          <mat-card-header>
            <mat-card-title>Nifty 50 Jackpot Contest</mat-card-title>
            <mat-card-subtitle>05-01-2023</mat-card-subtitle>
          </mat-card-header>
      <p>completed</p>
      </mat-card></a>
    <br>
    <a>
      <mat-card class="crd1"  (click)="leaderboard()">
          <mat-card-header>
            <mat-card-title>Nifty 50 Pro Contest</mat-card-title>
            <mat-card-subtitle>09-01-2023</mat-card-subtitle>
          </mat-card-header>
      <p>live</p>
      </mat-card></a>
    
    </div>
    

</div>
</div>