.header1{
    border-radius: 15px 50px; 
    background: #b2d67f ;
    background-position: center;
    padding: 20px;
    width: 88%;
    height: 15px;
    text-align: center;
    font-size: 20px;
    top: 3px;
  }

.budget{
     border-radius: 25px; 
    background: #b5c26b ;
    background-position: center;
    padding: 20px;
    width: 88%;
    height: 15px;
    text-align: left;
    font-size: large;
    position: fixed;
    bottom: 3px;
}

.picks{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.float1{
    width: 75%;
    background-color: white;
    float: left;
    height:100px;
    /* border-radius: 20px; */
}
.float2{
    background-color: white !important;
    float: left !important;
}

.stock{
    width: 88%;
    background-color: white;
    float: left;
    height:130px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: #b2d67f;   
    margin-left: 5vw;
    margin-right: 5vw;
    overflow: hidden;
    top:50%;
    position: inherit;
}

.inside{
   
    top:50%;
    position: inherit;
    font-size: larger;
    text-align: center;
    margin-top: 15vw;
}

.new-class{
    border-radius: 5px;
}

::ng-deep mat-dialog-container {
    border-radius: 20px !important;
  }


  .my-component-bottom-sheet {
   height: 500px !important;
    min-width: 100vw !important;
    margin-top: 80px;
  }